* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 10px;
  width: 100%;
}

:root {
  --grey-tone-1: #f2f2f2;
  --grey-tone-2: #d7dadc;
  --grey-tone-2-5: #adadad;
  --grey-tone-3: #4a4a4a;
  --grey-tone-4: #3a3a3c;
  --grey-tone-5: #272729;
  --grey-tone-6: #1a1a1b;
  --orange: #ffa07a;
  --green: #3cb371;
  --red: #d45858;
}

body {
  background-color: var(--grey-tone-3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  all: unset;
}

@-webkit-keyframes popping {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes popping {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes colorChange {
  0% {
    background-color: var(--grey-tone-4);
  }
  30% {
    background-color: var(--red);
  }
  70% {
    background-color: var(--red);
  }
  100% {
    background-color: var(--grey-tone-4);
  }
}

@keyframes colorChange {
  0% {
    background-color: var(--grey-tone-4);
  }
  30% {
    background-color: var(--red);
  }
  70% {
    background-color: var(--red);
  }
  100% {
    background-color: var(--grey-tone-4);
  }
}

.container {
  width: 90vw;
  margin: 5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .refresh {
  position: absolute;
  font-size: 5em;
  text-align: center;
  right: 30px;
  width: 70px;
  height: 70px;
  background-color: var(--orange);
  color: var(--grey-tone-1);
  border: 3px solid var(--grey-tone-4);
  cursor: pointer;
}

.container .refresh:hover {
  -webkit-animation: popping .5s;
          animation: popping .5s;
}

.container .display {
  display: block;
}

.container .guess-container {
  margin-bottom: 10em;
}

.container .guess-container .guess-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .guess-container .guess-row .guess-tile {
  margin: .1em;
  padding: 1em;
  background-color: transparent;
  border: 3px solid var(--grey-tone-4);
  max-width: 30px;
  max-height: 30px;
  font-size: 3em;
  color: var(--grey-tone-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.container .guess-container .guess-row .guess-tile.guessing {
  background-color: var(--grey-tone-4);
}

.container .guess-container .guess-row .guess-tile.in-word {
  background-color: var(--orange);
  border: 3px solid var(--orange);
}

.container .guess-container .guess-row .guess-tile.match {
  background-color: var(--green);
  border: 3px solid var(--green);
}

.container .keyboard .keyboard-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .keyboard .keyboard-row button {
  margin: .2em;
  padding: 1em;
  font-size: 2em;
  background-color: var(--grey-tone-1);
  border-radius: .5em;
  -webkit-box-shadow: 9px 10px 9px -10px black;
          box-shadow: 9px 10px 9px -10px black;
  cursor: pointer;
}

.container .keyboard .keyboard-row button:active, .container .keyboard .keyboard-row button.clicked {
  -webkit-box-shadow: inset 8px 8px 9px -10px black;
          box-shadow: inset 8px 8px 9px -10px black;
  background-color: var(--grey-tone-2);
}

.container .keyboard .keyboard-row button.not-matched {
  -webkit-box-shadow: inset 8px 8px 9px -10px black;
          box-shadow: inset 8px 8px 9px -10px black;
  background-color: var(--grey-tone-2-5);
}

.container .keyboard .keyboard-row button.almost-matched {
  -webkit-box-shadow: inset 8px 8px 9px -10px black;
          box-shadow: inset 8px 8px 9px -10px black;
  background-color: var(--orange);
}

.container .keyboard .keyboard-row button.matched {
  -webkit-box-shadow: inset 8px 8px 9px -10px black;
          box-shadow: inset 8px 8px 9px -10px black;
  background-color: var(--green);
}
/*# sourceMappingURL=styles.css.map */