* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 10px;
    width: 100%;
}

:root {
    --grey-tone-1: #f2f2f2;
    --grey-tone-2: #d7dadc;
    --grey-tone-2-5: #adadad;
    --grey-tone-3: #4a4a4a;
    --grey-tone-4: #3a3a3c;
    --grey-tone-5: #272729;
    --grey-tone-6: #1a1a1b;
    --orange: #ffa07a;
    --green: #3cb371;
    --red: #d45858;
}

body {
    background-color: var(--grey-tone-3);
    user-select: none;
}

button {
    all: unset;
}

@keyframes popping {   
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-10deg); }
    60% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}

@keyframes colorChange {   
    0% { background-color: var(--grey-tone-4); }
    30% { background-color: var(--red); }
    70% { background-color: var(--red); }
    100% { background-color: var(--grey-tone-4); }
}

.container {
    width: 90vw;
    margin: 5em auto;
    display: flex;
    flex-direction: column;

    .refresh {
        position: absolute;
        font-size: 5em;
        text-align: center;
        right: 30px;
        width: 70px;
        height: 70px;
        background-color: var(--orange);
        color: var(--grey-tone-1);
        border: 3px solid var(--grey-tone-4);
        // display: none;
        cursor: pointer;

        &:hover {
            animation: popping .5s;
        }
    }

    .display {
        display: block;
    }

    .guess-container {
        margin-bottom: 10em;
        .guess-row {
            display: flex;
            justify-content: center;
            .guess-tile {
                margin: .1em;
                padding: 1em;
                background-color: transparent;
                border: 3px solid var(--grey-tone-4);
                max-width: 30px;
                max-height: 30px;
                font-size: 3em;
                color: var(--grey-tone-1);
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                transition: all .4s;

                &.guessing {
                    background-color: var(--grey-tone-4);
                }

                &.in-word {
                    background-color: var(--orange);
                    border: 3px solid var(--orange);
                }

                &.match {
                    background-color: var(--green);
                    border: 3px solid var(--green);
                }
            }
        }
    }

    .keyboard {
        .keyboard-row {
            display: flex;
            justify-content: center;
            button {
                margin: .2em;
                padding: 1em;
                font-size: 2em;
                background-color: var(--grey-tone-1);
                border-radius: .5em;
                box-shadow: 9px 10px 9px -10px rgba(0, 0, 0, 1);
                cursor: pointer;

                &:active, &.clicked {
                    box-shadow: inset 8px 8px 9px -10px rgba(0, 0, 0, 1);
                    background-color: var(--grey-tone-2);
                }

                &.not-matched {
                    box-shadow: inset 8px 8px 9px -10px rgba(0, 0, 0, 1);
                    background-color: var(--grey-tone-2-5);
                }

                &.almost-matched {
                    box-shadow: inset 8px 8px 9px -10px rgba(0, 0, 0, 1);
                    background-color: var(--orange);
                }
                &.matched {
                    box-shadow: inset 8px 8px 9px -10px rgba(0, 0, 0, 1);
                    background-color: var(--green);
                }
            }
        }
    }
}